body {
    background: linear-gradient(rgb(54, 173, 133), rgb(12, 144, 161));
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 1cm;
    
    
    
    
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 50px;
    
}
#placeholder{
    font-family: 'Montserrat',  Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;
    text-align: center;
    
}

#lorem {
    font-family: 'Montserrat',  Tahoma, Geneva, Verdana, sans-serif; font-size: 20px;
    padding: 1cm;
}
a{
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: black;
    font-size: 25px;
}
    
#myChart {
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0.089);
    border-width: 5px;
    border-style: solid;
    
}